@if(Movie == null)
{
    <h1>Cargando...</h1>
}
else
{
    <div class="container-flex ps-3 bg-black">
        <h1 class="text-light p-3 m-0">@Movie.Title - @Movie.Year.Year.ToString()</h1>
    </div>

    <div class="container-flex bg-black p-4">
        <div class="card bg-black justify-content-center">
            <div class="row">
                <div class="col-12 col-md-4">
                    <img src=@Movie.Poster class="w-75 rounded mx-auto d-block" alt="">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <p class="card-text text-light">@Movie.Overview</p>
                        <p class="card-text text-light"><small class="text-muted">@Movie.Score.ToString()</small></p>
                        <TrailerMoviesComponent RedirectTrailer="@Movie.Trailer" TypeOfButtonTrailer="Card"></TrailerMoviesComponent>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@code { 
    
    [Parameter] public Movie Movie { get; set; }
}